<nav>
  <%= link_to 'My Toy App', root_path, style: 'font-size:3em' %> 
  <br>
  <br>
  <br>
  <hr>
  <%= link_to 'New User', new_user_path %> 
  &nbsp;
  &nbsp;
  &nbsp;
  <%= link_to 'All Users', users_path %>
  <br>
  <br>
  <br>
  <%= link_to 'New Micro', new_micropost_path %>
  &nbsp;
  &nbsp;
  &nbsp;  
  <%= link_to 'All Micros', microposts_path %>
</nav>